.order,
.selected-order,
.orderItems {
    background-color: var(--lightBrown);
}

.user-name,
.order-id,
.order-item,
.selected-order,
.selected-order-items {
    font-family: var(--Font-Inter);
}

.order-list-container {
    overflow-y: auto;
    max-height: 86vh;
}

.confirm-panel {
    background-color: var(--Red);
    z-index: 1;
    transform: translateY(0);
    transition: transform 1s;
}

.confirm-panel.active {
    transform: translateY(2rem);
}

.add-menu-item-input {
    margin: 0.5rem;
    background-color: var(--Grey);
    border-bottom: 2px solid #000;
    border-radius: 5px;
    width: 20rem;
}