:root {
  --DarkBrown: #7D5A50;
  --white: #fff;
  --grey: #d9d9d9;
}

/* Navbar */
#navbar {
  display: flex;
  background-color: var(--DarkBrown);
  color: var(--white);
}


#userIcon, #cartIcon, #searchIcon {
  width: 64px;
  height: 70px;
}

.searchBarContainer {
  display: flex;
  background-color: var(--grey);
  border-radius: 25px;
}

#searchField {
  background-color: var(--grey);
}

/* The menu */
#theFoodMenuItems {
  margin: auto;
  width: 70rem;
}