:root {
  --DarkBrown: #7D5A50;
  --lightBrown: #B4846C;
  --White: #fff;
  --Grey: #d9d9d9;
}

.icon {
  width: 64px;
  height: 70px;
}

/* Navbar */
#navBar {
  display: flex;
  background-color: var(--DarkBrown);
  color: var(--White);
  height: 6.25rem;
}

.navBarItemContainer {
  display: flex;
  width: min-content;
  margin: auto;
  vertical-align: middle;
}

.title {
  margin-left: 7rem;
  margin-right: 7rem;
}

.linkConatainer {
  display: flex;
}

.searchForm {
  display: flex;
  height: 5rem;
}

/* Food Groups */
.foodGroupButton {
  background-color: var(--lightBrown);
  border-color: var(--lightBrown);
  border-radius: 35px;
  width: 13rem;
  height: 3rem;
  font-size: 32px;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

/* Menu */
#menuBackground {
  background-color: var(--DarkBrown);
  border-radius: 25px;
}

#theFoodMenuItems, #menuBackground {
  margin: auto;
  width: 70rem;
}


/* Food item */
#foodMenuItem {
  display: flex;
  padding: 2rem;
  
}

#name, #foodPrice {
  font-size: 32px;
}

.spicyIcon {
  /* change this later */
  width: 2rem;
  margin: 3px;
}

#ingredients {
  font-size: 24px;
}

#addToCart {
  display: flex;
  margin-left: auto;
}

#foodImage {
  width: 12.5rem;
  height: 12.5rem;
}

