:root {
  --DarkBrown: #7D5A50;
  --lightBrown: #B4846C;
  --lightPinkBrown: #E5B299;
  --White: #fff;
  --Grey: #d9d9d9;
}

.icon {
  width: 64px;
  height: 70px;
}

/* Navbar */
.navBar {
  display: flex;
  background-color: var(--DarkBrown);
  color: var(--White);
  height: 5.50rem;
}

.navBarItemContainer {
  display: flex;
  width: min-content;
  margin: auto;
  vertical-align: middle;
}

.sidePanel {
  display: none;
}

.title {
  margin-left: 7rem;
  margin-right: 7rem;
}

.linkConatainer {
  display: flex;
}


/* Food Group buttons */
.groupButtons {
  display: flex;
  width: min-content;
  margin: auto;
}

.foodGroupButton {
  background-color: var(--lightBrown);
  border-color: var(--lightBrown);
  border-radius: 35px;
  width: 13rem;
  height: 3rem;
  font-size: 32px;
  margin: 4rem 2rem 4rem 2rem;
}

/* Menu */
.foodGroup {
  background-color: var(--lightPinkBrown);
  border-radius: 25px;
  font-size: 40px;
}

.foodGroupTitle {
  margin-left: 12.5rem;
}

.menuBackground {
  background-color: var(--DarkBrown);
  border-radius: 25px;
}

.theFoodMenuItems,
.menuBackground {
  margin: auto;
  width: 70rem;
}


/* Food item */
.foodMenuItem {
  display: flex;
  padding: 2rem;

}

.name {
  font-size: 32px;
  margin-left: 1rem;
}

.spicyIcon {
  /* This the only way I found how to change the colour of an svg that is in an <img> tag, this is stupid. */
  filter: invert(44%) sepia(89%) saturate(6656%) hue-rotate(350deg) brightness(102%) contrast(113%);
  width: 1.5rem;
  margin-left: 1rem;
}

.ingredients {
  font-size: 24px;
  margin: 0.5rem auto auto 1rem;
}

.addToCartConatiner {
  display: flex;
  margin-left: auto;
}

.addToCartBtn {
  height: min-content;
  background: none;
  cursor: pointer;
  margin: auto;
  border: 0px;
}

.foodPrice {
  height: min-content;
  margin: auto 1rem auto auto;
  font-size: 32px;
}

.foodImage {
  width: 12.5rem;
  height: 12.5rem;
}



/* @media (min-width: 769px) and (max-width: 1024px) {
  .sidePanel {
    display: flex;
  }

  .menuBackground {
    margin: auto;
    width: 50rem;
  }

  .cartBtn {
    display: none;
  }
} */

@media (max-width: 768px) {
  .sidePanel {
    display: flex;
  }

  .menuBackground {
    margin: auto;
    width: 45rem;
  }

  .cartBtn {
    display: none;
  }
}